{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->
{% if view_mode == 'teaser' %} 
  
  <div class="post-block">
    <div class="post-image">{{ content.field_image }}</div>
    <div class="post-content text-left">
      <div class="post-meta">
        <span class="post-category">{{ content.field_post_category }}</span>
        <span class="line"></span>
        <span class="post-created">{{ node.getCreatedTime()|date("M d, Y") }}</span>
      </div>
      <div class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </div>
      <div class="post-body">{{ content.body }}</div>
      <div class="post-action"><a href="{{ url }}"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'Read More'|t }}</a></div>  
    </div>
  </div>

{% elseif view_mode == 'teaser_2' %}
  
  {% set body %}{{ content.body }}{% endset %}
  
  {% if gva_node_index == 1 %}
    
    <div class="post-block">
      <div class="post-image">
        {{ content.field_image }}
      </div>
      <div class="post-content text-left">
        <div class="post-meta">
          <span class="post-category">{{ content.field_post_category }}</span>
          <span class="line"></span>
          <span class="post-created">{{ node.getCreatedTime()|date("M d, Y") }}</span>
        </div>
        <div class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </div>
        <div class="post-body">{{ body|striptags }}</div>
        <div class="post-action d-none"><a href="{{ url }}"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'Read More'|t }}</a></div>  
      </div>
    </div>

  {% else %}

    <div class="post-block">
      <div class="post-image">
        <a href="{{url}}"><img src="{{ node.field_image.entity.uri.value | image_style('thumbnail') }}" alt="" /></a>
      </div>
      <div class="post-content text-left">
        <div class="post-meta">
          <span class="post-category">{{ content.field_post_category }}</span>
          <span class="line"></span>
          <span class="post-created">{{ node.getCreatedTime()|date("M d, Y") }}</span>
        </div>
        <div class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </div>
        <div class="post-body">{{ body|striptags }}</div>
      </div>
    </div>

  {% endif %}  

{% else %}

<article{{ attributes.addClass(classes) }}>
  <div class="post-block">
      
    <div class="post-thumbnail post-{{ post_format }}">
      {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
        {{ gva_iframe|raw }}
      {% elseif post_format == 'gallery' and content.field_post_gallery %}
        {{ content.field_post_gallery }}
      {% else %}
        {{ content.field_image }}
      {% endif %}  
    </div>

    <div class="post-content">
      {{ title_prefix }}
        <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
      {{ title_suffix }}         
      
      <div class="post-meta">
        <span class="post-category">{{ content.field_post_category }}</span>
        <span class="line"></span>
        <span class="post-created">{{ node.getCreatedTime()|date("M d, Y") }}</span>
      </div>
      
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_image','field_post_category', 'field_post_format', 'field_post_type', 'field_post_embed', 'field_post_gallery', 'comment') }}
      </div>

      <div id="node-single-comment">
        {{ content.comment }}
      </div>

    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}