<div class="content-main-inner">
	<div class="row">
		
		{% set cl_main = 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 ' %}
		{% if page.sidebar_right and page.sidebar_left %}	
			{% set cl_main = 'col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 ' %}
		{% elseif page.sidebar_right or page.sidebar_left %}	
			{% if page.sidebar_right %}
			 	{% set cl_main = 'col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 sb-r ' %}
			{% endif %} 		
			{% if page.sidebar_left %}
				{% set cl_main = 'col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 order-xl-2 order-lg-2 order-md-1 order-sm-1 order-xs-1 sb-l ' %}
			{% endif %}				
      {% endif %} 

		<div id="page-main-content" class="main-content {{ cl_main }}">

			<div class="main-content-inner">
				
				{% if page.content_top %}
					<div class="content-top">
						{{ page.content_top }}
					</div>
				{% endif %}

				{% if page.content %}
					<div class="content-main">
						{{ page.content }}
					</div>
				{% endif %}

				{% if page.content_bottom %}
					<div class="content-bottom">
						{{ page.content_bottom }}
					</div>
				{% endif %}
			</div>

		</div>

		<!-- Sidebar Left -->
		{% if page.sidebar_left %}
			{% set cl_left = 'col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 order-xl-1 order-lg-1 order-md-2 order-sm-2 order-xs-2' %}
			{%	if page.sidebar_right %}
			 	{% set cl_left = 'col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 order-xl-1 order-lg-1 order-md-2 order-sm-2 order-xs-2' %}
			{% endif %} 		
			
			<div class="{{ cl_left }} sidebar sidebar-left">
				<div class="sidebar-inner">
					{{ page.sidebar_left }}
				</div>
			</div>
		{% endif %}
		<!-- End Sidebar Left -->

		<!-- Sidebar Right -->
		{% if page.sidebar_right %}
			{% set cl_right = 'col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 order-xl-3 order-lg-3 order-md-3 order-sm-3 order-xs-3'  %}
			{% if page.sidebar_left %}
				{% set cl_right = 'col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 order-xl-3 order-lg-3 order-md-3 order-sm-3 order-xs-3' %}
			{% endif %}	 

			<div class="{{ cl_right }} sidebar sidebar-right theiaStickySidebar">
				<div class="sidebar-inner">
					{{ page.sidebar_right }}
				</div>
			</div>
		{% endif %}
		<!-- End Sidebar Right -->
		
	</div>
</div>
