{% set i = 0 %}
<div{{ attributes }}>
  {%- for item in items -%}
    {% set i = i + 1 %}
      {% if i == 1 %}
        <div class="image-item">
          <a href="{{file_url(item.content['#item'].entity.uri.value)}}" class="image-popup">
            <span class="icon-expand"><i class="fa fa-camera"></i>{{'Gallery'|t}}</span>
          </a>
          <div class="main-images">
            {{ item.content }}
            <div class="d-none"><div class="cthumbnail">{{ file_url(item.content['#item'].entity.uri.value|image_style('thumbnail')) }}</div></div>
            <div class="cthumbnail"></div>
          </div>
        </div>
      {% else %}
          <a href="{{file_url(item.content['#item'].entity.uri.value)}}" class="image-popup d-none"></a>
      {% endif %}
  {%- endfor -%}
</div>